@font-face
  font-family LeagueGothic
  font-style normal
  src url('/fonts/LeagueGothic-Regular.otf')

@font-face
  font-family Ostrich
  font-style normal
  src url('/fonts/OstrichSans-Medium.otf')

@font-face
  font-family Raleway
  font-style normal
  src url('/fonts/RalewayThin.otf')

@font-face
  font-family Brandon
  font-weight normal
  src url('/fonts/Brandon-Regular.woff')

@font-face
  font-family Brandon
  font-weight bold
  src url('/fonts/Brandon-Bold.woff')




