.card

  .inner

    .top
      .main_title Compliance

    .mid.scroller
      .description 
        .description_title Set transaction limits
        .description_body
          .p You can set a maximum per transaction limit for your machines.
          .p &#8199;
          .p Cash-out limits are set with the ssu-limits command on your server.
      .settings

        .limits

          ul
            li.maximum
              .label Max Limit
              .limit.input_wrap
                input#max_limit

    .bot
