.card

  .inner

    .top
      .main_title Pairing

    .mid
      .description
        .description_title Pair your ATM
        .description_body
          .p Present this QR code to your ATM while in pairing mode to pair it with this Lamassu installation.
          .p &#8199;
          .p If you receive an error or it doesn't scan, see this 
            a(href='http://support.lamassu.is/support/solutions/articles/1000073237', style='text-decoration: none') article
            .

      .settings
        #qr-code

    .bot
