
.card

  .inner

    .top
      .main_title Price


    .mid.scroller
      .description
        .description_title Set display price
        .description_body
          .p Pick a source then you can add your commission on top.
          .p &#8199;
          .p Not every ticker may support your currency. If in doubt, choose BitPay.
      .settings
        ul
          li
            .label Price Source
            .select_wrap
              select#price_provider
                option(value="bitpay") BitPay
                option(value="coindesk") CoinDesk
                option(value="bitcoinaverage") BitcoinAverage
                option(value="bitstamp") BitStamp
                option(value="coinapult") Coinapult
        .current_price 
          | The current price is 
          span.value ---.--
          | .
        ul
          //
            li
              .label Custom Source
              .input_wrap
                input#price_custom_url
          li
            .label Commission
            .input_wrap
              input#price_commission
              .percent_symbol %
    .bot
      .price_overview

        | Display Price: 
        span.value ---.--

